<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Appointments List</title>
    <link href="css" rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<h1 style="text-align:center">APPOINTMENTS</h1>
<div th:switch="${listAppointments}">
    <h2 th:case="null">No appointments yet!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>timeZone</th>
                <th>location</th>
                <th>dateTimeFrom</th>
                <th>dateTimeTo</th>
                <th>syncStatus</th>
                <th>creationDate</th>
                <th>modificationDate</th>
                <th>reminder</th>
                <th>title</th>
                <th>description</th>
                <th>dominant</th>
                <th>sensitivity</th>
                <th>showAs</th>
                <th>creator</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${listAppointments}">
                <td th:text="${appointment.id}"></td>
                <td th:text="${appointment.timeZone}"></td>
                <td th:text="${appointment.location}"></td>
                <td th:text="${appointment.dateTimeFrom}"></td>
                <td th:text="${appointment.dateTimeTo}"></td>
                <td th:text="${appointment.syncStatus}"></td>
                <td th:text="${appointment.creationDate}"></td>
                <td th:text="${appointment.modificationDate}"></td>
                <td th:text="${appointment.reminder}"></td>
                <td th:text="${appointment.title}"></td>
                <td th:text="${appointment.description}"></td>
                <td th:text="${appointment.dominant}"></td>
                <td th:text="${appointment.sensitivity}"></td>
                <td th:text="${appointment.showAs}"></td>
                <td th:text="${appointment.user.sapUsername}"></td>
                <td><a th:href="@{/gui/appointments/edit/{id}(id=${appointment.id})}">Edit</a></td>
                <td><a th:href="@{/gui/appointments/delete/{id}(id=${appointment.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/gui/users">Users</a></p>
</div>
</body>
</html>