<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/gui/appointments/update}" th:object="${appointment}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>timeZone</td>
            <td><input type="text" th:field="*{timeZone}"></td>
        </tr>
        <tr>
            <td>location</td>
            <td><input type="text" th:field="*{location}"></td>
        </tr>
        <tr>
            <td>dateTimeFrom</td>
            <td><input type="text" th:field="*{dateTimeFrom}"></td>
        </tr>
        <tr>
            <td>dateTimeTo</td>
            <td><input type="text" th:field="*{dateTimeTo}"></td>
        </tr>
        <tr>
            <td>title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
</html>