<html xmlns:th="http://www.thymeleaf.org">
<h1 style="text-align:center">UPDATE USERS</h1>
<form action="#" th:action="@{/gui/users/update}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>sapUsername</td>
            <td><input type="text" th:field="*{sapUsername}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>exchangeUsername</td>
            <td><input type="text" th:field="*{exchangeUsername}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>exchangeDomain</td>
            <td><input type="text" th:field="*{exchangeDomain}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>timeZone</td>
            <td><input type="text" th:field="*{timeZone}" pattern="[+-][0-9]{2}:[0-9]{2}\b"></td>
        </tr>
        <tr>
            <td>firstName</td>
            <td><input type="text" th:field="*{firstName}" pattern="[A-Za-z]+"></td>
        </tr>
        <tr>
            <td>lastName</td>
            <td><input type="text" th:field="*{lastName}" pattern="[A-Za-z]+"></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
<p><a href="/gui/users">Users</a></p>
</html>