<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/gui/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>sapUsername</td>
            <td th:text="${user.sapUsername}"></td>
        </tr>
        <tr>
            <td>exchangeUsername</td>
            <td th:text="${user.exchangeUsername}"></td>
        </tr>
        <tr>
            <td>exchangeDomain</td>
            <td th:text="${user.exchangeDomain}"></td>
        </tr>
        <tr>
            <td>timeZone</td>
            <td><input type="text" th:field="*{timeZone}"></td>
        </tr>
        <tr>
            <td>firstName</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>lastName</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
</html>