<html xmlns:th="http://www.thymeleaf.org">
<h1 style="text-align:center">UPDATE APPOINTMENT</h1>
<form action="#" th:action="@{/gui/appointments/update}" th:object="${appointment}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"></td>
        </tr>
        <tr>
            <td>timeZone</td>
            <td><input type="text" th:field="*{timeZone}" pattern="[+-][0-9]{2}:[0-9]{2}\b"></td>
        </tr>
        <tr>
            <td>location</td>
            <td><input type="text" th:field="*{location}" pattern="[A-Za-z]+"></td>
        </tr>
        <tr>
            <td>reminder</td>
            <td><input type="number" th:field="*{reminder}"></td>
        </tr>
        <tr>
            <td>Sensitivity</td>
            <td>
                <select th:field="*{sensitivity}">
                    <option th:value="${T(com.mwaysolution.sapMock.model.Sensitivity).NORMAL}">NORMAL</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.Sensitivity).PERSONAL}">PERSONAL</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.Sensitivity).PRIVATE}">PRIVATE</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.Sensitivity).CONFIDENTIAL}">CONFIDENTIAL
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>ShowAs</td>
            <td>
                <select th:field="*{showAs}">
                    <option th:value="${T(com.mwaysolution.sapMock.model.ShowAs).BUSY}">BUSY</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.ShowAs).TENTATIVE}">TENTATIVE</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.ShowAs).FREE}">FREE</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.ShowAs).OUT_OF_OFFICE}">OUT_OF_OFFICE</option>
                    <option th:value="${T(com.mwaysolution.sapMock.model.ShowAs).WORKING_ELSEWHERE}">WORKING_ELSEWHERE
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>dominant</td>
            <td><input type="checkbox" th:field="*{dominant}"></td>
        </tr>
        <tr>
            <td>dateTimeFrom</td>
            <td><input type="datetime-local" th:name="dateTimeFROM" required></td>
        </tr>
        <tr>
            <td>dateTimeTo</td>
            <td><input type="datetime-local" th:name="dateTimeTO" required></td>
        </tr>
        <tr>
            <td>title</td>
            <td><input type="text" th:field="*{title}" required></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}" required></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
<p><a href="/gui/users">Users</a></p>
<p><a href="/gui/appointments">Appointments</a></p>
</html>